{% extends 'base.html.twig' %}

{% block title %}New Usager{% endblock %}

{% block body %}
    <div class="row small">
        <div class="card col-md-5">
            {{ include('usager/_form.html.twig') }}
        </div>
    </div>

{% endblock %}
